<div class="row">
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/new-produit">Ajouter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produit">Lister</a>
      </li>
    </ul>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/categorie">Liste Categorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-categorie">Nouvelle Catégorie</a>
      </li>
    </ul>
  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 sidebar">
    <h1>Reporting</h1>
    <div class="col-md-6">

      <canvas baseChart
              [data]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-6">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
      <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
    </div>

  </main>
</div>






