<div class="row">

  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-personne">Ajouter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Export</a>
      </li>
    </ul>

  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 sidebar">


    <h1>Liste des personnes</h1>
    <ng2-smart-table [settings]="settings" (create)="ajout($event)" [source]="pagePerosonne" (edit)="edit($event)"
                     (delete)="delete($event)"></ng2-smart-table>
    <!--<div class="horizontal-scroll">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th class="table-id">#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of pagePerosonne">
          <td class="table-id">{{ item.iduser }}</td>
          <td>{{ item.numero }}</td>
          <td>{{ item.prenoms }}</td>
          <td>{{ item.idagence.designation }}</td>
          &lt;!&ndash;<td><a class="email-link" href="mailto:{{ item.email }}">{{ item.email }}</a></td>&ndash;&gt;
          <td>
            <button ngClass="{status-button btn btn-xs btn-primary">Modifier</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>-->

 <!--   <div class="table-responsive">

            <table  class="table table-striped">
              <thead>
              <tr>
                <th>Numéro</th> <th>Nom</th> <th>Prénom</th> <th>Agence</th>
              </tr>
              </thead>
              <tr *ngFor="let p of pagePerosonne">
                <td>{{p.numero}} </td>
                <td>{{p.nom}} </td>
                <td> {{p.prenoms}}</td>
                <td>{{p.idagence.designation}} </td>
                <td>
                  <a (click)="onEditPersonne(p.iduser)" class="clickable"> Modifier</a>
                </td>
                <td>
                  <a (click)="onDeletePersonnel(p)" class="clickable"> Supprimer</a>
                </td>
              </tr>
            </table>

            <div class="container">
              <ul class="nav nav-pills">
                <li [ngClass]="{'active':i==page}" *ngFor=" let p of pages;let i=index">
                  <a class="clickable" (click)="gotoPages(i)">{{i}}</a>
                </li>
              </ul>
            </div>
          </div>-->

  </main>
</div>


