<div class="row">

  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-produit">Ajouter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produit">Lister</a>
      </li>
    </ul>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/categorie">Liste Categorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-categorie">Nouvelle Catégorie</a>
      </li>
    </ul>
  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 sidebar">


    <h1>Liste des categories</h1>

    <ng2-smart-table [settings]="settings" [source]="pageCategorie" (createConfirm)="ajoutCate($event)"
                     (editConfirm)="modifCate($event)" (deleteConfirm)="deleteCate($event)"></ng2-smart-table>

   <!-- <div class="table-responsive">


      <table  class="table table-striped">
        <thead>
        <tr>
          <th>Categorie</th>
        </tr>
        </thead>
        <tr *ngFor="let a of pageCategorie">
          <td>{{a.designation}} </td>

          <td>
            <a (click)="onEditCategorie(a.idcategorie)" class="clickable"> Modifier</a>
          </td>
          <td>
            <a (click)="onDeleteCatergoie(a)" class="clickable"> Supprimer</a>
          </td>
        </tr>
      </table>

      <div class="container">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':i==page}" *ngFor=" let p of pages;let i=index">
            <a class="clickable" (click)="gotoPages(i)">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>-->


  </main>
</div>






