<div class="row">
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active">Gestion de l'agence<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/agence">Agence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ville">Ville</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/personne">Personnel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ota">OTA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/personne">Gestion des profils</a>
      </li>
    </ul>

  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">Nouvel Agence</div>
      <div class="panel-body">
        <div class="table-responsive">

    <div class="container spacer">
      <div  *ngIf="mode==1">

          <div >
            <div class="form-group">
              <label class="control-label"> Désignation:</label>
              <input class="form-control" type="text" [(ngModel)]="agence.designation">
            </div>

          </div>
          <div class="form-group">
            <label class="control-label"> Ville:</label>
            <select class="form-control" name="repeatSelect1" id="repeatSelect1" [(ngModel)]="agence.idville" >
              <option
                *ngIf="agence.idville!=null" value="{{agence.idville.idville}}" selected >{{agence.idville.designation}}</option>
              <option *ngFor="let p of pageVille" value="{{p.idville}}" selected>{{p.designation}}</option>
            </select>

          </div>

          <button class="btn btn-primary" (click)="updateAgence()">Save</button>

      </div>


    </div>

    <div  *ngIf="mode==2">

        <div >
          <div class="form-group">
            <label class="control-label"> Id:</label>
            <label>{{agence.idagence}}</label>
          </div>

          <div class="form-group">
            <label class="control-label"> Agence:</label>
            <label>{{agence.designation}}</label>
          </div>

          <div class="form-group">
            <label class="control-label"> Ville:</label>
            <!-- <input class="form-control" type="text" [(ngModel)]="personne.idagence">-->
            <select class="control-label" name="repeatSelect" id="repeatSelect" [(ngModel)]="agence.idville">
              <option class="control-label"
                      *ngFor="let p of pageVille" value="{{p.idville}}">{{p.designation}}</option>
            </select>
          </div>
          <button class="btn btn-primary" (click)="mode=1">Nouvel Agence</button>

        </div>

      </div>

        </div>
      </div>
    </div>
  </main>
</div>






