

<div class="row">


  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">Matériels</div>
      <div class="panel-body">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"  *ngFor="let a of category">
        <a class="nav-link" routerLink="/new-produit"><font color="black">{{a.designation}}</font></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="/produit">Téléphoniques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produit">Recharge Crédits</a>
      </li>-->
    </ul>
      </div>
    </div>
  </nav>
  <div class="col-xs-6 col-sm-6 col-md-6 sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">Liste des produits</div>
      <div class="panel-body">
    <div class="app-vente border-bottom-0">

      <app-products-list  [productsList]="pageProduit"  (onProductSelected)="productWasSelected($event)">

      </app-products-list>
    </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">Liste des produits selectionnés</div>
      <div class="panel-body">
    <div *ngIf="test.length>0">
      <form>
        <div class="form-group" *ngFor="let a of test">
          <div class="row">
            <div class="col-xs-6 col-md-2">
              <select #t (change)="ajouter(a.idproduit,t.value)">
                <option *ngFor="let i of createRange(a.quantite)" value="{{ i }}" >{{ i }}x</option>
              </select>
            </div>
            <div class="col-xs-6 col-md-6">
              <p >{{ a.designation }} {{ a.prix }}FCFA</p>
            </div>
            <div class="col-xs-6 col-md-2">

            </div>
          </div>
        </div>
        <p class="text-right">Total: {{ total }} FCFA</p>
        <button type="submit" class="btn btn-primary" (click)="creerVente()">Vendre <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-primary" (click)="desole()">Afficher</button>
      </form>
    </div>
  </div>
</div>
  </div>
</div>
