<div class="row">

<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">OTA</div>
    <div class="panel-body">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><font color="black">Wari</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Ria</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Joni Joni</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Microcred</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">MoneyGram</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Western Union</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">OrangeMoney</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" >Matériels<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Informatiques</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Téléphoniques</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">cartes crédits</font></a>
      </li>
    </ul>
    </div>
  </div>
  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">Les Raports</div>
      <div class="panel-body">

      <div class="col-md-6">

        <canvas baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="col-md-6">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
        <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
      </div>
      </div>
    </div>
  </main>
</div>






