<div class="row">

<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">OTA</div>
    <div class="panel-body">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><font color="black">Wari</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Ria</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Joni Joni</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Microcred</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">MoneyGram</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Western Union</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">OrangeMoney</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Informatiques</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">Téléphoniques</font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depot"><font color="black">cartes crédits</font></a>
      </li>
    </ul>
    </div>
  </div>
  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">Les Raports</div>
      <div class="panel-body">

        <h1>Rapport Orange money</h1>

        <div class="form-group">
          <input class="form-control fa fa-shopping-cart" type="date" (click)="reactualiser()" >
        </div>
        <div class="table-responsive" >
          <table class="table table-bordered">
            <tr class="alert-primary">
              <th></th>
              <th colspan="2">Nombre</th>
              <th colspan="3">Montant (FCFA)</th>
            </tr>
            <tr>
              <td>Echec</td>
              <td colspan="2">
                {{nombreEchec}}
              </td>
              <td colspan="2">0</td>
            </tr>
            <tr>
              <td rowspan="2">Réussi</td>

              <td class="alert-primary">
                Dépot
              </td>
              <td class="alert-primary">
                Retrait
              </td>
              <td class="alert-primary">
                Dépot
              </td>
              <td class="alert-primary">
                Retrait
              </td>
              <td class="alert-primary">
                Commission
              </td>
            </tr>
            <tr>
              <td>{{nombreEnvoi}}</td>
              <td>{{nombreRetrait}}</td>
              <td>{{montantEnvoi|currency:'XOF'}}</td>
              <td>{{montantRetrait|currency:"XOF"}}</td>
              <td>{{commission|currency:"XOF"}}</td>
            </tr>
            <tr>
              <td class="bg-danger">Total </td>
              <td colspan="2" style="text-align: center;">{{nombreRetrait+nombreEnvoi}}</td>
              <td colspan="2" style="text-align: center;" class="align-bottom">{{montantRetrait+montantEnvoi|currency:"XOF"}}</td>
              <td colspan="2" style="text-align: center;" class="align-bottom">{{commission|currency:'XOF'}}</td>
            </tr>
          </table>
        </div>
       <!-- <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> Rapport sur les transactions</h5>
            <p class="card-text">
              Nombre de transfert : {{nombre}}
              Réussit : {{nombreReussit}}
              Echec : {{nombreEchec}}
            </p>
          </div>
        </div>-->

       <!-- <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Rapport sur les transactions</h5>
              <p class="card-text">
                Nombre de transfert : {{nombre}}
              </p>
            </div>
          </div>
        </div>

      <div>
        <p> Date : {{date}}</p>
        <p> Nombre de transfert : {{nombre}}</p>
        <p> Commision : {{commission}} FCFA</p>
        <p> Montant : {{montant}} FCFA</p>
      </div>-->

     <!-- <div class="col-md-6">

        <canvas baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="col-md-6">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
        <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
      </div>-->
      </div>
    </div>
  </main>
</div>






